.features-name{
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 1.2;
    margin-bottom: 8px;
}
.features{
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    gap: 24px;
    display: flex;
}
.f-i {
    flex-basis: calc((100% - 72px) / 4);
}

.f-l {
    display: flex;
    gap: 24px;
}
