.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-d{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    text-decoration: none;
    margin-bottom: 16px
}
.footer-text{
    color: #F4F4FD;
    max-width: 264px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
        flex-direction: column;
}