.logo {
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    line-height: 1.3;
    margin-right: 76px;
}

.web-logo {
    color: #4D5AE5;
}

.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2E2F42;
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-link:active {
    color: #404BBF;
}

.contacts-link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.menu {
    display: flex;
    gap: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
}

.contacts {
    display: flex;
    gap: 40px;
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.address {
    font-style: normal;
    margin-left: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}